extends layout

block content
  h1=title
  table
    tr
      th
        b Exercise
      th
        b Description
      th
        b Set
      th
        b Reps/Time
    - for (var i = 0; i < array.length; ++i) {
      tr
        td
          p=array[i].Exercise
        td
          p=array[i].Description
        td
          p=array[i].Set
        td
          p=array[i].Reps
    - }