extends layout

block content
  div(class='mainDiv')
    h1=title
    table
      tr
        th
          b Exercise
        th
          b Description
        th
          b Reps/Time
        th
          b Set
      - for (var i = 0; i < array.length; ++i) {
        tr
          td
            p=array[i].ExerciseName
          td
            p=array[i].Description
          td
            p=array[i].RepsOrTime
          td
            p=array[i].Sets
      - }
  form(method='POST' action='/exercise/create')
    hidden(type='text'
           name='Id'
           value='JEG ER IKKE ET ID')
    hidden(type='text'
           name='exercise.index'
           value='undefined')
    p(class='createText') Create exercise
    div(class='formContainer')
      div(class='labelDiv')
        label Exercise Name:
        label Description:
        label Reps/Time:
        label Sets: 
      div(class='inputDiv')
        input(type='text'
              name='ExerciseName'
              value='data')
        input(type='text'
              name='Description'
              value='data')
        input(type='text'
              name='RepsOrTime'
              value='data')
        input(type='text'
              name='Sets'
              value='data')
    div(class='submitDiv')
      input(type='submit'
        value="Add exercise"
        class="submitButton")